body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


th,
td {
	border: 1px solid lightgrey;
	padding: 0.25rem 0.75rem;
}

table {
	text-align: left;
	border-collapse: collapse;
}

thead {
	border-block-end: 2px solid;
	background: whitesmoke;
}